#client-header .opener {
    background-color: red;
    color: #FDFCFC;
    text-align: center;
}

#client-header .opener::after {
    display: block;
    content: "";
    border-top: 70px solid #FF9F10;
    border-left: 100vw solid transparent;
    background-color: #FDFCFC;
}

#client-header .wrapper {
    height: 95px;
}

#client-header .wrapper .content{
    height: 100%;
    width: 100vw;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#client-header .wrapper .content .horizontal-container{
    width: 0;
    margin-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#client-header .wrapper .content .verical-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#client-header .wrapper .content .opts{
    justify-content: space-around;
}

#client-header .wrapper .content .link{
    text-decoration: none;
    color: #FDFCFC;
    font-size: 18px;
}

#client-header .wrapper .content .title{
    margin-top: 18px;
    margin-left: 34px;
    width: 200px;
}

#client-header #search-form{
    height: 50px;
    width: 255px;
    border-radius: 5px;

    margin-top: 16px;
    margin-right: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #FDFCFC;
}

#client-header #search-form input[type=text]{
    border: none;
    background-color: rgba(255, 145, 0, 0);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 210px;
    margin-left: 10px;
    color: #313131;
}

#client-header #search-form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #23232380;
}
  
#client-header #search-form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

#client-header #search-form input[type=text]:focus{
    outline: none;
}

#client-header #search-form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #00000080;
}

#client-header #search-form button{
    background-color: #FDFCFC;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#client-header #search-form button:focus{
    outline: none;
}

#client-header .title-link {
    color: #FDFCFC;
    text-decoration: none;
}