#admin-header .opener {
    background-color: #FF9F10;
    color: #FDFCFC;
    text-align: center;
}

#admin-header .opener::after {
    display: block;
    content: "";
    border-top: 70px solid #FF9F10;
    border-left: 100vw solid transparent;
    background-color: #FDFCFC;
}

#admin-header .wrapper {
    height: 95px;
}

#admin-header .wrapper .content{
    height: 100%;
    width: 100vw;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#admin-header .wrapper .content .horizontal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#admin-header .wrapper .content .verical-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#admin-header .wrapper .content .opts{
    width: 350px;

    margin-top: 10px;
    margin-left: calc(100% - 400px);

    justify-content: space-around;
}

#admin-header .wrapper .content .user-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 120px;
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#admin-header .wrapper .content .user-menu:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#admin-header .wrapper .content .user-menu .text{
    font-size: 18px;
    margin-top: 2px;
}

#admin-header .wrapper .content .user-menu .icon{
    size: 24;
    margin-right: 5px;
}

#admin-header .wrapper .content .link{
    width: 60px;

    margin-top: 28px;
    margin-left: 50px;

    text-decoration: none;
    color: #FDFCFC;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;
}

#admin-header .wrapper .content .link .link-icon{
    margin-top: 2px;
}

#admin-header .wrapper .content .title{
    margin-top: 18px;
    margin-left: 34px;
}

#admin-header #search-form{
    margin-top: 16px;
    height: 50px;
    width: 255px;
    border-radius: 5px;
    background-color: #FDFCFC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#admin-header #search-form input[type=text]{
    border: none;
    background-color: rgba(255, 145, 0, 0);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 210px;
    margin-left: 10px;
    color: #313131;
}

#admin-header #search-form input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #23232380;
}
  
#admin-header #search-form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

#admin-header #search-form input[type=text]:focus{
    outline: none;
}

#admin-header #search-form input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #00000080;
}

#admin-header #search-form button{
    background-color: #FDFCFC;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#admin-header #search-form button:focus{
    outline: none;
}

#admin-header .title-link {
    color: #FDFCFC;
    text-decoration: none;
}