/* when is logged */
#user-menu {
    height: auto;
    width: auto;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#user-menu .menu-button{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #FDFCFC;
}

#user-menu .menu-button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#user-menu .menu-button .text{
    font-size: 18px;
    margin-top: 2px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#user-menu .menu-button .icon{
    size: 24;
    
    margin-right: 5px;
}


#user-menu .menu-button .chevron-icon{
    margin-left: 10px;
    margin-top: 2px;
}

#user-menu .menu{
    height: 80px;
    width: 180px;
    margin-top: 50px;

    border-radius: 5px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #FDB446;
}

#user-menu .menu-opt-button{
    width: 150px !important;
    height: 50px !important;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    border-radius: 5px;

    cursor: pointer;
    color: #FDFCFC;
}

#user-menu .menu .menu-opt-button:hover > .icon{
    margin-right: -5px;
    
    transition: margin-right 0.1s;
}

#user-menu .menu .menu-opt-button .text{
    font-size: 18px;
    margin-top: 2px;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#user-menu .menu .menu-opt-button .link{
    height: auto;
    width: auto;

    margin: 0px;
    margin-top: 6px;

    padding: 0px;
}

#user-menu .menu-opt-button .icon{
    size: 24;

    margin-top: 8px;
    margin-right: 0px;

    transition: margin-right 0.1s;
}


/* when isn't */
#user-menu .login-opts{
    height: auto;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#user-menu .login-opts .link{
    margin: auto;
    height: auto;
    width: auto;
}
