#dropdown-menu{
    z-index: 0;
    position:relative;
    margin-left: 10px;
    width: 200px;
}

#dropdown-menu .button{
    background-color: #FDB446;
    width: 190px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#dropdown-menu .button .menu-title{
    font-size: 18px;
    color: #FDFCFC;
    margin-top: 8px;
}

#dropdown-menu .button .menu-icon{
    margin-top: 8px;
}

#dropdown-menu .categories{
    width: 200px;
    margin-top: -5px;
    margin-left: 20px;
    background-color: #FF9F10;
    color: #FDFCFC;
    padding: 1px 10px;
    border-radius: 5px;
}

#dropdown-menu .categories .loading{
    margin: 10px;
    margin-left: 85px;
}

#dropdown-menu .category{
    width: 190px;
    background-color: #FDB446;
    color: #FDFCFC;
    margin: 7px auto;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

#dropdown-menu .sub-cats{
    visibility: hidden;
    position: absolute;
    background-color: #FF9F10;
    margin-top: -31px;
    margin-left: 215px;
    padding: 0px 10px;
    border-radius: 5px;
    transition: 0.05s;
}

#dropdown-menu .category:hover > .sub-cats{
    visibility: visible;
}

